discord.py
jishaku
python_dotenv
pymongo
git+https://codeberg.org/Starrysparklez/pynepcord/ # comment this line if codeberg is blocked in your country and VPN is disabled
git+https://github.com/boticord/boticordpy/
dacite
